SetEnv APPLICATION_ENV development
SetEnv LOCAL_DEVELOPMENT true

<IfModule mod_rewrite.c>
    SetEnvIfNoCase ^User-Agent$ .*(bot1|bot2|bot3|bot4|bot5|bot6|) HTTP_SAFE_BADBOT
    SetEnvIfNoCase ^User-Agent$ .*(bot1|bot2|bot3|bot4|bot5|bot6|) HTTP_SAFE_BADBOT
</ifModule>

<FilesMatch ".(htaccess|ini|phps|log)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>