<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php" processIsolation="true"
        colors="true"
        stopOnFailure="false">

    <testsuites>
        <testsuite name="KarbanBoard">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="GH_CLIENT_ID" value=""/>
        <env name="GH_CLIENT_SECRET" value=""/>
        <env name="GH_ACCOUNT" value=""/>
        <env name="GH_REPOSITORIES" value=""/>
        
    </php>
</phpunit>